<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="application" point="org.eclipse.core.runtime.applications">
	<application thread="any" cardinality="*" visible="true" >
		<run class="client2.app.MainApplication" />
		
	</application>
	
</extension>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product application="client2.app.application" name="client2" >
		<property name="appName" value="client2" />
		
	</product>
	
</extension>
</plugin>
